Django==5.2.5
gunicorn==23.0.0
pandas==2.3.2
numpy==2.3.2
scikit-learn==1.6.1
matplotlib==3.10.5
seaborn==0.13.2
networkx==3.5
plotly==6.3.0
sentence-transformers==5.1.0
transformers==4.55.4
yake==0.6.0
beautifulsoup4==4.13.5
requests==2.32.5
PyYAML==6.0.2
joblib
gdown
torch==2.8.0
torchaudio==2.8.0
torchvision==0.23.0
pyvis